In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('../data/dataset_almaty_2023.xlsx')

In [4]:
add_df = pd.read_excel('../data/constructed/all_addresses.xlsx')

In [8]:
df = df.drop(columns=['Unnamed: 0'])

In [21]:
df = df.merge(add_df, left_on='location', right_on='address')

In [27]:
df.shape

(15851, 28)

In [29]:
df['Longitude'].isna().any()

False

In [28]:
df['Latitude'].isna().any()

False

the same size and 0 Nans

In [30]:
df.to_excel('../data/dataset_almaty_2023.xlsx')

Save dataset 2023 we go forward
_____________________________________________________________________________________

In [36]:
df = pd.read_excel('../data/data2021_first.xlsx')

In [39]:
df = df.drop(columns=['Unnamed: 0'])

In [41]:
df['full_address'] = df['flat.city'] + ', ' + df['address']

In [44]:
df.shape

(19298, 32)

In [49]:
df = df.merge(add_df, left_on='full_address', right_on='address')

In [51]:
df.shape

(19298, 38)

In [52]:
df['Latitude'].isna().any()

False

In [53]:
df.to_excel('../data/data2021_first.xlsx')

Finished adding coordinates to 21 year dataset1

In [56]:
df = pd.read_excel('../data/kryshaData2021.xlsx')

In [60]:
df = df.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])

In [63]:
df['full_address'] = df['district'] + ', ' + df['adress']

In [66]:
df.shape

(143, 13)

In [67]:
df = df.merge(add_df, left_on='full_address', right_on='address')

In [68]:
df.to_excel('../data/kryshaData2021.xlsx')

why do i keep this data with only 131/141 obs 
_________________________________________________________________________

In [161]:
df = pd.read_excel('../data/data2020.xlsx')

In [162]:
def get_adress(row):
    if 'этаж' not in row['title'].lower():
        adress = row['title'][row['title'].find('м²') + 3:]
    else:
        adress =row['title'][row['title'].find('этаж') + 5:]
    
    if 'р-н' not in adress:
        adress = row['city'].replace('Алматы', '').replace(',','') + ', '*(row['city']!='Алматы')+ adress.strip()
    return adress

In [163]:
df['address'] = df.apply(lambda x: get_adress(x), axis=1)

In [166]:
df = df.drop(columns=['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0'])

In [167]:
df.shape

(59856, 13)

In [164]:
df.head(5)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,title,price,city,house,floor,area_description,num_rooms,cold_entry,house_type,year_built,area,total_floor,address
0,0,0,0,"2-комнатная квартира, 56 м², 4/5 этаж, Ауэзовс...",18500000,"Алматы, Ауэзовский р-н","панельный, 1997 г.п.",4,"56 м², кухня — 11 м²",2,False,панельный,1997,56.0,5,"Ауэзовский р-н, мкр Мамыр-7"
1,1,1,1,"3-комнатная квартира, 108 м², 15/25 этаж, Кабл...",47000000,Алматы,"монолитный, 2008 г.п.",15,108 м²,3,False,монолитный,2008,108.0,25,Каблукова
2,2,2,2,"2-комнатная квартира, 46 м², 14/16 этаж, просп...",31000000,"Алматы, Алмалинский р-н","монолитный, 2019 г.п.",14,46 м²,2,False,монолитный,2019,46.0,16,"Алмалинский р-н, проспект Абая 109/6 — Манаса"
3,3,3,3,"2-комнатная квартира, 42 м², 2/4 этаж, Кабанба...",19500096,"Алматы, Алмалинский р-н","кирпичный, 1961 г.п.",2,"42 м², кухня — 6 м²",2,False,кирпичный,1961,42.0,4,"Алмалинский р-н, Кабанбай Батыра — Желтоксан"
4,4,4,4,"3-комнатная квартира, 73 м², 5/5 этаж, Ади Шар...",26500000,Алматы,"кирпичный, 1977 г.п.",5,"73 м², кухня — 9 м²",3,False,кирпичный,1977,73.0,5,Ади Шарипова(Мечникова)

In [169]:
df = df.merge(add_df, left_on='address', right_on='address')

In [170]:
df.to_excel('../data/data2020.xlsx')

2020 is ended

_______________________________________________________________________

In [71]:
df = pd.read_excel('../data/data2018.xlsx')

In [74]:
df.head(2)

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11
0,47423318,2-комнатная квартира,Мусрепова 22/1 — Сатпаева,24600000,Бостандыкский р-н,8/16 эт.,60 м2,монолитный дом,2019 г.п.,жил. комплекс Central Esentai Residence,потолки 2.8м.
1,27829850,3-комнатная квартира,мкр Коктем-3 22,38800000,Бостандыкский р-н,6/16 эт.,93.4 м2,монолитный дом,2018 г.п.,жил. комплекс Central Esentai Residence,потолки 2.8м.

In [75]:
df.shape

(95, 11)

In [78]:
df = df.rename(columns={'Column1': 'krisha_id', 'Column2': 'title', 'Column3':'address', 'Column4': 'price', 'Column5': 'region', 'Column6':'floor_data', 'Column7':'area', 'Column8':'building_type', 'Column9':'year_built', 'Column10': 'seller', 'Column11':'ceiling'})

In [84]:
df['num_rooms'] = df['title'].apply(lambda x: int(x[:x.find('-')]))

In [96]:
df['floor_data'] = df['floor_data'].apply(lambda x: x.replace(' из ', '/') if x is not np.NaN else '-1/-1')

In [102]:
df['floor'] = df['floor_data'].apply(lambda x: x[:x.find('/')])

In [109]:
df['total_floor'] = df['floor_data'].apply(lambda x: x[x.find('/')+1:].replace(' эт.',''))

In [118]:
df['area'] = df['area'].apply(lambda x: float(x.replace(' м2', '')))

In [125]:
df['year_built'] = df['year_built'].apply(lambda x: int(x.replace(' г.п.','')))

In [134]:
df['ceiling'] = df['ceiling'].apply(lambda x: float(x.replace('потолки ', '').replace('м.','')))

In [137]:
df = df[['krisha_id', 'address', 'price', 'region', 'area', 'building_type', 'year_built', 'seller', 'ceiling', 'num_rooms', 'floor', 'total_floor']]

In [140]:
df['full_address'] = df['region'] + ', ' + df['address']

C:\Users\User\AppData\Local\Temp\ipykernel_3664\4154314474.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['full_address'] = df['region'] + ', ' + df['address']

In [142]:
df.shape

(95, 13)

In [150]:
df = df.merge(add_df,how='left', left_on='full_address', right_on='address')

In [151]:
df.to_excel('../data/data2018.xlsx')

Finished 2018
______________________________________________________________________________

In [153]:
df = pd.read_excel('../data/data2016.XLSX')

In [154]:
df.shape

(95, 11)

In [155]:
df

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11
0,47423318,2-комнатная квартира,Мусрепова 22/1 — Сатпаева,24600000,Бостандыкский р-н,8/16 эт.,60 м2,монолитный дом,2019 г.п.,жил. комплекс Central Esentai Residence,потолки 2.8м.
1,27829850,3-комнатная квартира,мкр Коктем-3 22,38800000,Бостандыкский р-н,6/16 эт.,93.4 м2,монолитный дом,2018 г.п.,жил. комплекс Central Esentai Residence,потолки 2.8м.
2,29398189,4-комнатная квартира,Мусрепова 22/1 — Сатпаева,63000000,Бостандыкский р-н,16/16 эт.,157 м2,монолитный дом,2018 г.п.,жил. комплекс Central Esentai Residence,потолки 2.8м.
3,29429706,3-комнатная квартира,Мусрепова 22/1 — Сатпаева,43775000,Бостандыкский р-н,10/16 эт.,103 м2,монолитный дом,2018 г.п.,жил. комплекс Central Esentai Residence,потолки 2.8м.
4,47317163,3-комнатная квартира,проспект Сакена Сейфуллина 580 — проспект Аль-...,37800000,Бостандыкский р-н,2/9 эт.,108 м2,монолитный дом,2015 г.п.,жил. комплекс NS – Towers,потолки 2.8м.
...,...,...,...,...,...,...,...,...,...,...,...
90,28312770,2-комнатная квартира,проспект Суюнбая — Бекмаханова,12600000,Турксибский р-н,4 из 5,49 м2,панельный дом,1989 г.п.,NaN,потолки 2.8м.
91,27031820,2-комнатная квартира,Ахметова 12,11300000,Турксибский р-н,2 из 3,40 м2,кирпичный дом,1968 г.п.,NaN,потолки 3м.
92,28266140,2-комнатная квартира,Зенкова 25 — Богенбай батыра,26000000,Медеуский р-н,2 из 12,64.4 м2,NaN,1977 г.п.,NaN,потолки 2.7м.
93,24001598,3-комнатная квартира,Аль-Фараби 21,61200000,Бостандыкский р-н,6 из 21,119.1 м2,монолитный дом,2014 г.п.,жил. комплекс AFD Plaza,потолки 2.9м.
94,26853781,4-комнатная квартира,Аль-Фараби 1,70000000,Бостандыкский р-н,21 из 29,163 м2,монолитный дом,2008 г.п.,жил. комплекс Нурлы Тау,потолки 2.9м.