In [1]:
import numpy as np
import pandas as pd

In [2]:
DATA_PATH = './data'

In [6]:
df_oct = pd.read_csv(f'{DATA_PATH}/dataoct2019.csv', encoding='utf-16')

In [10]:
df_oct[df_oct['City']=='Almaty'].shape

(1297, 35)

In [11]:
df_oct[df_oct['City']=='Almaty'].columns

Index(['Unnamed: 0', 'Price', 'Rooms', 'isMortgaged', 'Building',
       'BuildingType', 'BuildingYear', 'Floor', 'CountOfFloor', 'Square',
       'PrivDormitory', 'Renovation', 'TelephoneType', 'InternetType',
       'BathroomType', 'Balcony', 'BalconyGlazed', 'DoorType', 'Parking',
       'Furniture', 'FloorType', 'CeilingHeight', 'Security', 'MapComplex',
       'HasChange', 'Country', 'City', 'District', 'Street', 'HouseNum',
       'Latitude', 'Longitude', 'OtherInformation', 'Comment', 'Date'],
      dtype='object')

In [12]:
df2 = pd.read_excel(f'{DATA_PATH}/2019krysha.XLSX')

In [13]:
df2

,Unnamed: 0,Price,Rooms,isMortgaged,Building,BuildingType,BuildingYear,Floor,CountOfFloor,Square,...,Country,City,District,Street,HouseNum,Latitude,Longitude,OtherInformation,Comment,Date
0,52917991,19000000,2.0,Нет,"монолитный, 2018 г.п.",NaN,NaN,4 из 9,NaN,55,...,Kazahstan,Nur-Sultan_(Astana),Esilyskiy_r-n,Ilyyasa_Omarova,23,51.139545,71.369721,"Пластиковые окна, неугловая, улучшенная, комна...",NaN,NaN
1,53112971,27300000,3.0,Нет,"кирпичный, 2015 г.п.",NaN,NaN,12 из 14,NaN,85,...,Kazahstan,Nur-Sultan_(Astana),Esilyskiy_r-n,prospekt_Mangilik_El,17,51.115090,71.434078,"Комнаты изолированы, тихий двор.",NaN,NaN
2,53265724,17350000,2.0,Нет,2015 г.п.,NaN,NaN,19 из 24,NaN,73,...,Kazahstan,Nur-Sultan_(Astana),Almatinskiy_r-n,Ahmeta_Baytursynova,17,51.123659,71.475127,"Кухня-студия, встроенная кухня, тихий двор.",NaN,NaN
3,52527406,145000000,4.0,Нет,2014 г.п.,NaN,NaN,6 из 19,NaN,180,...,Kazahstan,Almaty,Medeuskiy_r-n,ALY-FARABI,21,43.228729,76.941899,"Пластиковые окна, улучшенная, кладовка, тихий ...",NaN,NaN
4,53091362,18400000,1.0,Нет,"монолитный, 2015 г.п.",NaN,NaN,4 из 14,NaN,45,...,Kazahstan,Nur-Sultan_(Astana),Esilyskiy_r-n,Sarayshyk,7,51.135119,71.427339,"Пластиковые окна, неугловая, улучшенная, комна...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6266,49930181,8700000,2.0,Нет,"кирпичный, 1967 г.п.",NaN,NaN,1 из 5,NaN,46,...,Kazahstan,Karaganda,Kazybek_bi_r-n,Pichugina,255,49.798318,73.098906,"Пластиковые окна, неугловая, кухня-студия, нов...",NaN,NaN
6267,49781761,7800000,2.0,Нет,"кирпичный, 1965 г.п.",NaN,NaN,1 из 4,NaN,41.2,...,Kazahstan,Karaganda,Kazybek_bi_r-n,Ermekova,35,49.793015,73.087300,"Кладовка, тихий двор.",NaN,NaN
6268,51487696,4000000,3.0,Нет,"кирпичный, 1965 г.п.",NaN,NaN,2 из 4,NaN,54,...,Kazahstan,Sarany,NaN,Shahtiorskaya_ulitsa,10A,49.788195,72.829159,"Неугловая, счётчики, тихий двор.",NaN,NaN
6269,52401701,9500000,1.0,Нет,"кирпичный, 1989 г.п.",NaN,NaN,5 из 5,NaN,33.4,...,Kazahstan,Almaty,Turksibskiy_r-n,Altay-2,22A,43.351375,76.991935,NaN,NaN,NaN
6270,52364421,17000000,3.0,Нет,"монолитный, 2014 г.п.",NaN,NaN,2 из 9,NaN,68.8,...,Kazahstan,Almaty,Nauryzbayskiy_r-n,Asyl_Arman,11,43.229564,76.751303,"Пластиковые окна, комнаты изолированы, новая с...",NaN,NaN

In [16]:
df_oct[df_oct['City']=='Almaty']

,Unnamed: 0,Price,Rooms,isMortgaged,Building,BuildingType,BuildingYear,Floor,CountOfFloor,Square,...,Country,City,District,Street,HouseNum,Latitude,Longitude,OtherInformation,Comment,Date
3,52527406,145000000,4,Нет,2014 г.п.,NaN,NaN,6 из 19,NaN,180.0,...,Kazahstan,Almaty,Medeuskiy_r-n,ALY-FARABI,21,43.228729,76.941899,"Пластиковые окна, улучшенная, кладовка, тихий ...",NaN,NaN
14,48331712,35500000,4,Нет,"кирпичный, 1994 г.п.",NaN,NaN,1 из 5,NaN,82.0,...,Kazahstan,Almaty,Almalinskiy_r-n,Bogenbay_batyra,239,43.250685,76.907484,"Пластиковые окна, улучшенная, встроенная кухня...",NaN,NaN
15,50734997,4600000,1,Нет,"панельный, 1970 г.п.",NaN,NaN,4 из 4,NaN,17.5,...,Kazahstan,Almaty,Auezovskiy_r-n,Saina,18,43.237826,76.840713,"Пластиковые окна, неугловая, встроенная кухня,...",NaN,NaN
16,53000179,26800000,3,Нет,"панельный, 1986 г.п.",NaN,NaN,8 из 9,NaN,72.0,...,Kazahstan,Almaty,Almalinskiy_r-n,Zhambyla,231,43.244308,76.890075,"Пластиковые окна, неугловая, улучшенная, комна...",NaN,NaN
23,53210421,24500000,3,Нет,"монолитный, 2018 г.п.",NaN,NaN,11 из 12,NaN,69.0,...,Kazahstan,Almaty,Alatauskiy_r-n,Akbulak,13,43.265494,76.820815,"Пластиковые окна, улучшенная, комнаты изолиров...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5765,52535461,21500000,3,Нет,"панельный, 1992 г.п.",NaN,NaN,4 из 5,NaN,71.0,...,Kazahstan,Almaty,Turksibskiy_r-n,ulitsa_Behtereva,3,43.322355,76.942232,Комнаты изолированы.,NaN,NaN
5769,50435222,29500000,3,Нет,"монолитный, 2016 г.п.",NaN,NaN,8 из 10,NaN,81.6,...,Kazahstan,Almaty,Auezovskiy_r-n,Utegen_Batyra,17/3,43.241058,76.855238,"Пластиковые окна, неугловая, комнаты изолирова...",NaN,NaN
5771,30748855,39000000,4,Нет,"кирпичный, 1997 г.п.",NaN,NaN,1 из 5,NaN,84.0,...,Kazahstan,Almaty,Almalinskiy_r-n,ul__Nurmakova,93,43.251066,76.906218,"Улучшенная, счётчики, кухня-студия, пластиковы...",NaN,NaN
5779,52401701,9500000,1,Нет,"кирпичный, 1989 г.п.",NaN,NaN,5 из 5,NaN,33.4,...,Kazahstan,Almaty,Turksibskiy_r-n,Altay-2,22A,43.351375,76.991935,NaN,NaN,NaN
5780,52364421,17000000,3,Нет,"монолитный, 2014 г.п.",NaN,NaN,2 из 9,NaN,68.8,...,Kazahstan,Almaty,Nauryzbayskiy_r-n,Asyl_Arman,11,43.229564,76.751303,"Пластиковые окна, комнаты изолированы, новая с...",NaN,NaN

In [15]:
df2[df2['City']=='Almaty']

,Unnamed: 0,Price,Rooms,isMortgaged,Building,BuildingType,BuildingYear,Floor,CountOfFloor,Square,...,Country,City,District,Street,HouseNum,Latitude,Longitude,OtherInformation,Comment,Date
3,52527406,145000000,4.0,Нет,2014 г.п.,NaN,NaN,6 из 19,NaN,180,...,Kazahstan,Almaty,Medeuskiy_r-n,ALY-FARABI,21,43.228729,76.941899,"Пластиковые окна, улучшенная, кладовка, тихий ...",NaN,NaN
14,48331712,35500000,4.0,Нет,"кирпичный, 1994 г.п.",NaN,NaN,1 из 5,NaN,82,...,Kazahstan,Almaty,Almalinskiy_r-n,Bogenbay_batyra,239,43.250685,76.907484,"Пластиковые окна, улучшенная, встроенная кухня...",NaN,NaN
15,50734997,4600000,1.0,Нет,"панельный, 1970 г.п.",NaN,NaN,4 из 4,NaN,2023-05-17 00:00:00,...,Kazahstan,Almaty,Auezovskiy_r-n,Saina,18,43.237826,76.840713,"Пластиковые окна, неугловая, встроенная кухня,...",NaN,NaN
16,53000179,26800000,3.0,Нет,"панельный, 1986 г.п.",NaN,NaN,8 из 9,NaN,72,...,Kazahstan,Almaty,Almalinskiy_r-n,Zhambyla,231,43.244308,76.890075,"Пластиковые окна, неугловая, улучшенная, комна...",NaN,NaN
23,53210421,24500000,3.0,Нет,"монолитный, 2018 г.п.",NaN,NaN,11 из 12,NaN,69,...,Kazahstan,Almaty,Alatauskiy_r-n,Akbulak,13,43.265494,76.820815,"Пластиковые окна, улучшенная, комнаты изолиров...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6255,52535461,21500000,3.0,Нет,"панельный, 1992 г.п.",NaN,NaN,4 из 5,NaN,71,...,Kazahstan,Almaty,Turksibskiy_r-n,ulitsa_Behtereva,3,43.322355,76.942232,Комнаты изолированы.,NaN,NaN
6259,50435222,29500000,3.0,Нет,"монолитный, 2016 г.п.",NaN,NaN,8 из 10,NaN,81.6,...,Kazahstan,Almaty,Auezovskiy_r-n,Utegen_Batyra,2023-03-17 00:00:00,43.241058,76.855238,"Пластиковые окна, неугловая, комнаты изолирова...",NaN,NaN
6261,30748855,39000000,4.0,Нет,"кирпичный, 1997 г.п.",NaN,NaN,1 из 5,NaN,84,...,Kazahstan,Almaty,Almalinskiy_r-n,ul__Nurmakova,93,43.251066,76.906218,"Улучшенная, счётчики, кухня-студия, пластиковы...",NaN,NaN
6269,52401701,9500000,1.0,Нет,"кирпичный, 1989 г.п.",NaN,NaN,5 из 5,NaN,33.4,...,Kazahstan,Almaty,Turksibskiy_r-n,Altay-2,22A,43.351375,76.991935,NaN,NaN,NaN
6270,52364421,17000000,3.0,Нет,"монолитный, 2014 г.п.",NaN,NaN,2 из 9,NaN,68.8,...,Kazahstan,Almaty,Nauryzbayskiy_r-n,Asyl_Arman,11,43.229564,76.751303,"Пластиковые окна, комнаты изолированы, новая с...",NaN,NaN

Data for 2019 in october in another one seems to have identical data with similiar krisha_id (first column data). Therefore sizes a little different (for Almaty city it is 50 additional sales)

In [19]:
print(df2.columns)
print(df_oct.columns)

Index(['Unnamed: 0', 'Price', 'Rooms', 'isMortgaged', 'Building',
       'BuildingType', 'BuildingYear', 'Floor', 'CountOfFloor', 'Square',
       'PrivDormitory', 'Renovation', 'TelephoneType', 'InternetType',
       'BathroomType', 'Balcony', 'BalconyGlazed', 'DoorType', 'Parking',
       'Furniture', 'FloorType', 'CeilingHeight', 'Security', 'MapComplex',
       'HasChange', 'Country', 'City', 'District', 'Street', 'HouseNum',
       'Latitude', 'Longitude', 'OtherInformation', 'Comment', 'Date'],
      dtype='object')
Index(['Unnamed: 0', 'Price', 'Rooms', 'isMortgaged', 'Building',
       'BuildingType', 'BuildingYear', 'Floor', 'CountOfFloor', 'Square',
       'PrivDormitory', 'Renovation', 'TelephoneType', 'InternetType',
       'BathroomType', 'Balcony', 'BalconyGlazed', 'DoorType', 'Parking',
       'Furniture', 'FloorType', 'CeilingHeight', 'Security', 'MapComplex',
       'HasChange', 'Country', 'City', 'District', 'Street', 'HouseNum',
       'Latitude', 'Longitude', 'OtherInformation', 'Comment', 'Date'],
      dtype='object')

In [28]:
df_oct[df_oct['City']=='Almaty'].head(1000).compare(df2[df2['City']=='Almaty'].head(1000))

ValueError: Can only compare identically-labeled DataFrame objects

In [37]:
new_ids = set(df2['Unnamed: 0'].astype('str').to_list()) ^ set(df_oct['Unnamed: 0'].astype('str').to_list())

In [40]:
new_ids

{'            В залоге', '        "'}

In [41]:
df2[df2['Unnamed: 0'] == '            В залоге']

,Unnamed: 0,Price,Rooms,isMortgaged,Building,BuildingType,BuildingYear,Floor,CountOfFloor,Square,...,Country,City,District,Street,HouseNum,Latitude,Longitude,OtherInformation,Comment,Date
89,В залоге,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,В залоге,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,В залоге,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,В залоге,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,В залоге,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6202,В залоге,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6206,В залоге,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6214,В залоге,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6230,В залоге,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6248,В залоге,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Problem can not be resolved easily - monkey job done by human
from now on - refactored version is used

In [46]:
df_2019 = pd.read_csv(f'{DATA_PATH}/2019data.csv', encoding='utf-16')

ParserError: Error tokenizing data. C error: Expected 38 fields in line 27, saw 40

In [ ]:
df_2019.to_excel('')

In [34]:
df_2019 = pd.read_excel('./data/bb.XLSX')

I'll ignore data with no ID that is present in data

In [10]:
df_2019[df_2019['id'].isna()]

,id,Price,Rooms,isMortgaged,BuildingType,BuildingYear,Floor,Square,Column1,_1,...,_25,_26,_27,_28,_29,_30,_31,_32,_33,_34
2559,NaN,20000000,4,Нет,панельный,1976,5 из 5,80,да,евроремонт,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3095,NaN,50000000,3,Нет,кирпичный,2004,2 из 4,128,нет,хорошее,...,комнаты изолированы,встроенная кухня.,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3295,NaN,27500000,3,Нет,монолитный,2006,8 из 16,122,нет,евроремонт,...,улучшенная,комнаты изолированы,новая сантехника,счётчики,тихий двор,кондиционер.,,NaN,NaN,NaN
3334,NaN,26000000,2,Нет,кирпичный,2009,3 из 4,87,нет,евроремонт,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3535,NaN,12000000,4,Нет,кирпичный,1987,5 из 9,86,нет,евроремонт,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3777,NaN,31000000,2,В залоге,кирпичный,1985,4 из 5,56,нет,евроремонт,...,встроенная кухня.,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4048,NaN,65000000,3,Нет,кирпичный,2016,6 из 7,110,нет,евроремонт,...,улучшенная,комнаты изолированы,встроенная кухня,новая сантехника,счётчики,тихий двор,кондиционер.,,NaN,NaN

In [37]:
df_2019.columns

Index(['id', 'price', 'room_num', 'is_mortgaged', 'building_type',
       'building_year', 'floor_data', 'area', 'Column1', '_1', '_2', '_3',
       '_4', '_5', '_6', '_7', '_8', '_9', '_10', '_11', '_12', '_13', '_14',
       '_15', '_16', '_17', '_18', '_19', '_20', '_21', '_22', '_23', '_24',
       '_25', '_26', '_27', '_28', '_29', '_30', '_31', '_32', '_33', '_34'],
      dtype='object')

In [36]:
df_2019.rename(columns={' Price': 'price', ' Rooms': 'room_num', ' isMortgaged': 'is_mortgaged', ' BuildingType':'building_type', ' Floor': 'floor_data', ' Square': 'area', ' BuildingYear':'building_year'
}, inplace=True)

In [38]:
df_2019 = df_2019[df_2019['floor_data'].str.contains('из') & ~df_2019['id'].isna()][['id','price','room_num','is_mortgaged', 'building_type', 'floor_data', 'area', 'building_year']]

In [43]:
df_2019.rename(columns= {'building_year': 'year_built'}, inplace=True)

In [47]:
df_2019['id'] = df_2019['id'].convert_dtypes(convert_integer=True)

In [52]:
df_2019['floor'] = df_2019['floor_data'].apply(lambda x: int(x.split(' из ')[0]))

In [53]:
df_2019['total_floor'] = df_2019['floor_data'].apply(lambda x: int(x.split(' из ')[1]))

In [56]:
df_2019 = df_2019.drop(columns = ['floor_data'])

In [58]:
df_2019.to_excel('./data/data2019.xlsx')

In [6]:
df_2019_prev = pd.read_csv('./data/additional/dataoct2019.csv', encoding='utf-16')

In [7]:
df_2019_prev

,Unnamed: 0,Price,Rooms,isMortgaged,Building,BuildingType,BuildingYear,Floor,CountOfFloor,Square,...,Country,City,District,Street,HouseNum,Latitude,Longitude,OtherInformation,Comment,Date
0,"52917991,19000000,2,Нет,""монолитный, 2018 г.п....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"53112971,27300000,3,Нет,""кирпичный, 2015 г.п.""...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"53265724,17350000,2,Нет,2015 г.п.,,,19 из 24,,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"52527406,145000000,4,Нет,2014 г.п.,,,6 из 19,,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"53091362,18400000,1,Нет,""монолитный, 2015 г.п....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6240,"49930181,8700000,2,Нет,""кирпичный, 1967 г.п."",...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6241,"49781761,7800000,2,Нет,""кирпичный, 1965 г.п."",...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6242,"51487696,4000000,3,Нет,""кирпичный, 1965 г.п."",...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6243,"52401701,9500000,1,Нет,""кирпичный, 1989 г.п."",...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6244,"52364421,17000000,3,Нет,""монолитный, 2014 г.п....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_2019_prev = pd.read_excel('./data/toch.XLSX')

In [6]:
df_2019_prev.shape

(5780, 44)

In [8]:
df_2019_prev.columns

Index(['id', 'Price', 'Rooms', 'isMortgaged', 'BuildingType', 'BuildingYear',
       'Floor', 'CountOfFloor', 'propusk', 'Square', 'PrivDormitory',
       'Renovation', 'TelephoneType', 'InternetType', 'BathroomType',
       'Balcony', 'BalconyGlazed', 'DoorType', 'Parking', 'Furniture',
       'FloorType', 'CeilingHeight', 'Security', 'MapComplex', 'HasChange',
       'Country', 'City', 'District', 'Street', 'HouseNum', 'Latitude',
       'Longitude', 'OtherInformation', 'Comment', 'Date', 'Column1', '_1',
       '_2', '_3', '_4', '_5', '_6', '_7', '_8'],
      dtype='object')

In [13]:
df_2019_prev[df_2019_prev['id'].isna()]

,id,Price,Rooms,isMortgaged,BuildingType,BuildingYear,Floor,CountOfFloor,propusk,Square,...,Date,Column1,_1,_2,_3,_4,_5,_6,_7,_8
2559,NaN,20000000,4,Нет,панельный,1976 г.п.,5.0,5.0,NaN,80,...,улучшенная,комнаты изолированы,новая сантехника,тихий двор.,NaN,NaN,NaN,NaN,NaN,NaN
3095,NaN,50000000,3,Нет,кирпичный,2004 г.п.,2.0,4.0,NaN,128,...,улучшенная,комнаты изолированы,встроенная кухня.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3295,NaN,27500000,3,Нет,монолитный,2006 г.п.,8.0,16.0,NaN,122,...,комнаты изолированы,новая сантехника,счётчики,тихий двор,кондиционер.,NaN,NaN,NaN,NaN,NaN
3334,NaN,26000000,2,Нет,кирпичный,2009 г.п.,3.0,4.0,NaN,87,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3535,NaN,12000000,4,Нет,кирпичный,1987 г.п.,5.0,9.0,NaN,86,...,счётчики,тихий двор.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3777,NaN,31000000,2,В залоге,кирпичный,1985 г.п.,4.0,5.0,NaN,56,...,кондиционер,неугловая,улучшенная,комнаты изолированы,встроенная кухня.,NaN,NaN,NaN,NaN,NaN
4048,NaN,65000000,3,Нет,кирпичный,2016 г.п.,6.0,7.0,NaN,110,...,комнаты изолированы,встроенная кухня,новая сантехника,счётчики,тихий двор,кондиционер.,NaN,NaN,NaN,NaN

In [14]:
df_2019_prev[~df_2019_prev['propusk'].isna()]

,id,Price,Rooms,isMortgaged,BuildingType,BuildingYear,Floor,CountOfFloor,propusk,Square,...,Date,Column1,_1,_2,_3,_4,_5,_6,_7,_8
46,52933686.0,12500000,4,Нет,панельный,1974 г.п.,2.0,NaN,62.0,нет,...,тихий двор,кондиционер.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,52802509.0,10770000,3,Нет,иное,2014 г.п.,1.0,NaN,56.0,нет,...,новая сантехника,счётчики.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,49521583.0,20000000,3,Нет,кирпичный,1988 г.п.,1.0,NaN,79.0,нет,...,кладовка,кондиционер.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,50430133.0,9800000,2,Нет,кирпичный,2016 г.п.,4.0,NaN,54.0,NaN,...,счётчики,тихий двор,кондиционер.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,51445087.0,9800000,3,Нет,иное,2015 г.п.,2.0,NaN,57.0,нет,...,встроенная кухня,новая сантехника,кладовка,счётчики,тихий двор,кондиционер.,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5441,50222927.0,9500000,3,Нет,панельный,2000 г.п.,6.0,NaN,65.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5703,53091954.0,10000000,3,Нет,кирпичный,2007 г.п.,1.0,NaN,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5719,30484138.0,12000000,3,Нет,иное,2004 г.п.,2.0,NaN,74.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5737,25533177.0,10500000,3,Нет,панельный,1996 г.п.,9.0,NaN,67.0,нет,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5759,51265418.0,6000000,1,Нет,иное,2019 г.п.,5.0,NaN,39.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df_2019_prev.loc[~df_2019_prev['propusk'].isna()]

Empty DataFrame
Columns: [id, Price, Rooms, isMortgaged, BuildingType, BuildingYear, Floor, CountOfFloor, propusk, Square, PrivDormitory, Renovation, TelephoneType, InternetType, BathroomType, Balcony, BalconyGlazed, DoorType, Parking, Furniture, FloorType, CeilingHeight, Security, MapComplex, HasChange, Country, City, District, Street, HouseNum, Latitude, Longitude, OtherInformation, Comment, Date, Column1, _1, _2, _3, _4, _5, _6, _7, _8]
Index: []

[0 rows x 44 columns]

In [4]:
cols_to_shift = list(df_2019_prev.columns[df_2019_prev.columns.get_loc('CountOfFloor')+1:])

In [5]:
df_2019_prev.loc[~df_2019_prev['propusk'].isna(), cols_to_shift] = df_2019_prev.loc[~df_2019_prev['propusk'].isna(), cols_to_shift].shift(1, axis=1)

In [40]:
df_2019_prev[df_2019_prev['Square'].isna()]

,id,Price,Rooms,isMortgaged,BuildingType,BuildingYear,Floor,CountOfFloor,propusk,Square,...,Date,Column1,_1,_2,_3,_4,_5,_6,_7,_8
260,52209712.0,103000000,5,Нет,иное,2019 г.п.,4.0,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
438,53165553.0,16700000,1,Нет,иное,2019 г.п.,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
602,53320053.0,13515000,3,Нет,кирпичный,2020 г.п.,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
753,53196056.0,7225050,2,Нет,кирпичный,2020 г.п.,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1050,53221578.0,9500000,3,Нет,иное,1987 г.п.,4.0,5.0,NaN,NaN,...,комнаты изолированы,тихий двор.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5406,50376669.0,12000000,3,Нет,кирпичный,1996 г.п.,9.0,10.0,NaN,NaN,...,комнаты изолированы,счётчики,тихий двор.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5509,53370015.0,3000000,1,Нет,панельный,1977 г.п.,4.0,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5550,53369927.0,9000000,1,Нет,иное,1986 г.п.,3.0,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5557,53369918.0,17800000,4,Нет,монолитный,2019 г.п.,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5560,53369907.0,12500000,3,Нет,иное,1975 г.п.,2.0,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_2019_prev['Floor'] = df_2019_prev['Floor'].apply(lambda x: int(x) if not np.isnan(x) else -1)

In [7]:
df_2019_prev['CountOfFloor'] = df_2019_prev['CountOfFloor'].apply(lambda x: int(x) if not np.isnan(x) else -1)

In [8]:
df_2019_prev['BuildingYear'].apply(lambda x: int(x.replace(' г.п.', '')))

0       2018
1       2015
2       2015
3       2014
4       2015
        ...
5775    1967
5776    1965
5777    1965
5778    1989
5779    2014
Name: BuildingYear, Length: 5780, dtype: int64

In [9]:
columns_to_check = ['id', 'Price', 'Rooms', 'BuildingYear', 'Square', 'Country', 'City', 'District', 'Street', 'HouseNum', 'Latitude', 'Longitude']

mask = ~df_2019_prev[columns_to_check].isna().any(axis=1)


df_2019 = df_2019_prev.dropna(subset=columns_to_check[mask])

TypeError: list indices must be integers or slices, not Series

In [13]:
df_2019_prev = df_2019_prev.rename(columns={'id': 'krisha_id', 'Price': 'price', 'Rooms': 'num_rooms', 'BuildingYear': 'year_built', 'Floor':'floor', 'CountOfFloor':'total_floor', 'Square': 'area', 'Country': 'country', 'City': 'city', 'District': 'district', 'Street': 'street', 'HouseNum': 'house_num', 'isMortgaged': 'is_mortgaged', 'BuildingType':'building_type'})

In [15]:
df_2019_prev.columns

Index(['krisha_id', 'price', 'num_rooms', 'is_mortgaged', 'building_type',
       'year_built', 'floor', 'total_floor', 'propusk', 'area',
       'PrivDormitory', 'Renovation', 'TelephoneType', 'InternetType',
       'BathroomType', 'Balcony', 'BalconyGlazed', 'DoorType', 'Parking',
       'Furniture', 'FloorType', 'CeilingHeight', 'Security', 'MapComplex',
       'HasChange', 'country', 'city', 'district', 'street', 'house_num',
       'Latitude', 'Longitude', 'OtherInformation', 'Comment', 'Date',
       'Column1', '_1', '_2', '_3', '_4', '_5', '_6', '_7', '_8'],
      dtype='object')

In [22]:
df_2019_prev = df_2019_prev[['krisha_id', 'price', 'num_rooms', 'is_mortgaged', 'building_type', 'year_built', 'floor', 'total_floor', 'propusk', 'area', 'PrivDormitory', 'Renovation', 'TelephoneType', 'InternetType',
       'BathroomType', 'Balcony', 'BalconyGlazed', 'DoorType', 'Parking',
       'Furniture', 'FloorType', 'CeilingHeight', 'Security', 'MapComplex',
       'HasChange', 'country', 'city', 'district', 'street', 'house_num',
       'Latitude', 'Longitude']]

In [23]:
df_2019_prev.to_excel('./data/data2019.xlsx')

In [2]:
df_2019_prev = pd.read_excel('./data/data2019.xlsx')

In [6]:
df_2019_prev[df_2019_prev['city']=='Almaty'].to_excel('./data/data2019.xlsx')