In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_excel('../data/tre2022.xlsx')

In [10]:
df['room'] = df['room'].apply(lambda x: x[:x.find('-')])

In [11]:
df.head(2)

,id,room,area,fl/totfl,price,rayon,address,zhil complex,type,year,ceiling
0,673148324,3,115.00,7/11,58 000 000,Ауэзовский р-н,мкр Жетысу-3 60,NaN,монолитный дом,2011 г.п.,NaN
1,672974077,2,74.16,2/16,42 500 000,Бостандыкский р-н,Розыбакиева — Утепова,жил. комплекс Heaven,монолитный дом,2022 г.п.,потолки 3м.

In [12]:
df['fl/totfl'].unique()

array([' 7/11', ' 2/16', ' ', ' 7/12', ' 4/10', ' 5/5', ' 1/4', ' 2/5',
       ' 3/4', ' 7/13', ' 3/9', ' 4/9', ' 8/9', ' 5/10', ' 4/5', ' 3/10',
       ' 9/10', ' 4/4', ' 7/7', ' 5/7', ' 2/7', ' 2/4', ' 6/6', nan,
       ' 5/21', ' 8/8', ' 3/3', ' 3/5', ' 6/14', ' 1/2', ' 11/11', ' 9/9',
       ' 2/9', ' 2/17', ' 13/15', ' 5/8', ' 1/5', ' 3/8', ' 11/15',
       ' 12/15', ' 1/9', ' 1/7', ' 2/6', ' 9/21', ' 4/12', ' 7/30',
       ' 8/12', ' 9/12', ' 6/7', ' 5/9', ' 13/16', ' 12/12', ' 9/16',
       ' 6/12', ' 1/6', ' 1/3', ' 6/10', ' 6/13', ' 11/12', ' 4/8',
       ' 6/9', ' 7/9', ' 5/12', ' 7/16', ' 10/16', ' 1/1', ' 2/13',
       ' 12/21', ' 8/13', ' 8/20', ' 3/14', ' 3/16', '8/8', ' 4/13'],
      dtype=object)

In [16]:
df['floor'] = df['fl/totfl'].apply(lambda x: int(x.strip().split('/')[0]) if x is not np.NaN and x != ' ' else -1)

In [17]:
df['total_floors'] = df['fl/totfl'].apply(lambda x: int(x.strip().split('/')[1]) if x is not np.NaN and x != ' ' else -1)

In [24]:
df['price'].str.replace('\xa0',' ').unique()

array([' 58 000 000', ' 42 500 000', ' от 79 980 000', ' 48 000 000',
       ' 53 000 000', ' 27 500 000', ' 28 000 000', ' 9 500 000',
       ' 12 500 000', ' 41 500 000', ' 185 999 000', ' 36 000 000',
       ' 15 200 000', ' 22 500 000', ' 236 000 000', ' 316 080 000',
       ' 374 490 000', ' 35 000 000', ' от 220 797 000', ' от 78 354 000',
       ' от 95 210 075', ' 113 500 000', ' 71 500 000', ' 78 000 000',
       ' 55 000 000', ' 42 000 000', ' 23 500 000', ' 67 000 000',
       ' 38 000 000', ' 180 000 000', ' 29 800 000', ' 29 999 990',
       ' 110 000 000', ' 75 000 000', ' 33 000 000', ' 72 000 000',
       ' 35 900 000', ' 29 900 000', ' 15 000 000', ' 54 000 000',
       ' 39 000 000', ' 200 000 000', ' 37 500 000', ' 167 000 000',
       ' 40 500 000', ' 40 000 000', ' 26 000 000', ' 79 000 000',
       ' 45 000 000', ' 29 500 000', ' 41 000 000', ' 57 000 000',
       ' 36 500 000', ' 70 000 000', ' 24 500 000', ' 43 500 000',
       ' 225 000 000', ' 33 500 000', ' 133 888 000', ' 14 000 000',
       ' 44 500 000', ' 27 000 000', ' 31 500 000', ' 43 000 000',
       ' от 84 500 000', ' 11 500 000', ' 13 300 000', ' 20 500 000',
       ' 205 000 000', ' 25 700 000', ' 7 000 000', ' 230 000 000',
       ' 27 900 000', ' 23 900 000', ' 34 990 000', ' 31 000 000',
       ' 13 000 000', ' 25 500 000', ' 24 000 000', ' 29 999 999',
       ' 50 500 000', ' 38 400 000', ' от 28 618 000', ' от 19 529 000',
       ' 32 000 000', ' 54 500 000', ' 69 000 000', ' 53 500 000',
       ' 50 000 000', ' 100 000 000', ' 34 000 000', ' от 72 709 410',
       ' от 23 520 000', ' от 32 964 000', ' от 22 720 000',
       ' от 35 568 041', ' от 108 812 500', ' от 43 216 000',
       ' от 57 368 000', ' от 37 854 000', ' 38 600 000', ' 87 600 000',
       ' 155 000 000', ' 39 500 000', ' 29 000 000', ' 18 500 000',
       ' 22 000 000', ' 19 900 000', ' от 30 617 000', ' от 73 710 000'],
      dtype=object)

In [26]:
df['cold_entry'] = df['price'].str.contains('от')

In [33]:
df['price'] = pd.to_numeric(df['price'].str.replace('\xa0','').str.replace('от', '').str.replace(' ', ''))

In [36]:
df['year'].unique()

array([' 2011 г.п.', ' 2022 г.п.', ' 1988 г.п.', ' 2013 г.п.',
       ' 1980 г.п.', ' 1964 г.п.', ' 1979 г.п.', ' 1972 г.п.',
       ' 2017 г.п.', ' 1990 г.п.', ' 1977 г.п.', ' 1989 г.п.',
       ' 2018 г.п.', ' 2014 г.п.', ' 2021 г.п.', ' 2012 г.п.',
       ' 2010 г.п.', ' 1973 г.п.', ' 2016 г.п.', ' 1974 г.п.',
       ' 1960 г.п.', ' 2015 г.п.', ' 1962 г.п.', ' 1961 г.п.',
       ' 1975 г.п.', ' 1978 г.п.', ' 1966 г.п.', ' 1979 г.п',
       ' 2020 г.п.', ' 1976 г.п.', ' 1993 г.п.', ' 1995 г.п.',
       ' 2008 г.п.', ' 2004 г.п.', ' 1982 г.п.', ' 2009 г.п.',
       ' 1997 г.п.', ' 1963 г.п.', ' 1981 г.п.', ' 1987 г.п.',
       ' 1967 г.п.', ' 2007 г.п.', ' 1984 г.п.', ' 2023 г.п.',
       ' 1986 г.п.', ' 1983 г.п.', ' 2019 г.п.', ' 1991 г.п.'],
      dtype=object)

In [47]:
df['year'] = df['year'].apply(lambda x: int(x[:x.find(' г.п')].strip()))

In [48]:
df.head(2)

,id,room,area,fl/totfl,price,rayon,address,zhil complex,type,year,ceiling,floor,total_floors,cold_entry
0,673148324,3,115.00,7/11,58000000,Ауэзовский р-н,мкр Жетысу-3 60,NaN,монолитный дом,2011,NaN,7,11,False
1,672974077,2,74.16,2/16,42500000,Бостандыкский р-н,Розыбакиева — Утепова,жил. комплекс Heaven,монолитный дом,2022,потолки 3м.,2,16,False

In [51]:
df['full_address'] = df['rayon'] + ', ' +df['address']

In [59]:
df = df.rename(columns={'room':'num_rooms', 'rayon':'region', 'type':'house_type', 'year':'year_built', 'id':'krisha_id'}).drop(columns=['fl/totfl'])

In [60]:
df.to_excel('../data/data2022.xlsx')